.flex-view {
  display: flex;
  /* overflow-x: scroll; */
  /* overflow-y: scroll; */
}

.flex-column {
  flex-direction: column;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-align-items-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
