.search-game-list {
  padding-left: 16px;
  padding-right: 16px;
}

.search-game-item {
  background-color: #9f1317;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  min-height: 48px;
}

.search-game-item-image {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 8px;
}

.search-game-item-title {
  color: white;
}

.search-game-list .search-game-item {
  margin-bottom: 8px;
}
